{% extends 'base.html' %}

<!-- register form -->
{% block content %}
<div class="container register">
  
    
      <div class="regform">
      <form action="" method="post">
        <h2 class="text-center">Sign Up</h2>
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.username.label(class='form-label') }} <br />
          {{ form.username(class='form-control', size=32) }} <br />
          {% for error in form.username.errors %}
          <span class="text-danger">[{{error}}]</span>
          {% endfor %}
          <!-- errors -->
        </div>
        <div class="email">
          {{ form.email.label(class='form-label')}} <br />
          {{ form.email(class='form-control', size=32) }}
          <!-- errors -->
          {% for error in form.email.errors %}
          <span class="text-danger">[{{error}}]</span>
          {% endfor %}
          <!-- errors -->
        </div>
        <div class="password">
          {{ form.password.label(class='form-label') }} <br />
          {{ form.password(class='form-control', size=32) }}
          <!-- errors -->
          {% for error in form.password.errors %}
          <span class="text-danger">[{{error}}]</span>
          {% endfor %}
        </div>
        <div class="password">
          {{form.password_confirm.label(class='form-label') }} <br />
          {{form.password_confirm(class='form-control', size=32)}}
          <!-- errors -->
          {% for error in form.password_confirm.errors %}
          <span class="text-danger">[{{error}}]</span>
          {% endfor %}
          <!-- errors -->
        </div>
        <div class="submit_btn mt-2">
          <button
            type="submit"
            class="btn btn-lg btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#popup"
            id="submit"
          >
            Sign Up
          </button>
        </div>
        <p>  Have an account already? <a href="{{url_for('auth.login')}}">Login here</a></p>
      </form>
    </div>
  
</div>
{% endblock %}
