
.div1 {
  /* width: 100%; */
  width: 10px;
  background-color: #0c4195;
  border: 3px solid red;
  background-image: url(../images/Abstraction.jpg);
  background-size: 300px 300px;

  background-repeat: no-repeat;
}
.div2 {
  width: 60%;
  background-color: #fffafa;
  border-radius: 20px;
  margin-left: 50%;
  padding: 20px;
}

.register{

  background-color: #0c4195 ;
}

.regform{
  width: 60%;
  background-color: #fffafa;
  border-radius: 20px;
  margin-left: 50%;
  padding: 20px;
}

#submit {
  background-color: #0c4195;
  color: white;
  font-weight: bolder;
  width: 70%;
  margin-left: 10%;
  border-radius: 5px;
}

body {
  background-color: #e5e5e5;
}

/* top nav start */
.top-nav__middle li > a {
  margin: 0 0.8em;
}

.top-nav__middle li:hover {
  border-bottom: #00acff solid 2px;
  width: 20%;
}
/* top nav end */

/* search bar styles */
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  background-color: rgba(12, 65, 149, 0.55);
  border-radius: 0 5px 5px 0;
}
.fa-search {
  color: #000;
}
/* search bar styles end */

