{% extends 'base.html' %} {% block content %}



<div class="container">
  <div class="title-wrapper">
    <h1>My Profile</h1>
  </div>

  {%if user.profile_pic%}
  <div class="profile-pic-wrapper">
    <img src="{{url_for('static', filename=user.profile_pic)}}" alt="" />
    <h3 class="account-title">{{current_user.username}}</h3>

  </div>
  {%else%}
  <div class="default-profile-wrapper">
    <img src="{{url_for('static', filename='')}}" alt="profile picture here" />
  </div>

  {%endif%} {% if user==current_user%}

  <div class="user-profile-btn">
    <form
      action="{{url_for('main.update_pic', uname = user.username)}}"
      method="post"
      enctype="multipart/form-data"
    >
      {{form.csrf_token}}
      <input type="file" name="photo" required class="input-button" />
      <input type="submit" class="submit-btn" />
    </form>

    {%endif%}
  </div>

  <div class="profile-wrapper">
    <h2 class="account-title">Username:  {{current_user.username}}</h2>
    <h3 class="secondary-title">Email:  {{current_user.email}}</h3>
    {%if user.bio%}
    <h3 class="user-bio">Bio:  {{user.bio}}</h3>
    {%else%}
    <h3>no bio</h3>
    {%endif%} {%if user==current_user%}
    <a href="{{url_for('main.update_account',uname = user.username)}}">
      Edit Profile
    </a>
  </div>
  {%endif%}
</div>
{% endblock %}
