{% extends 'base.html' %}

<!-- hero section -->
{% block content %}

<div class="container">
  {% if current_user.is_authenticated %}
  <h3>Welcome {{current_user.username}}</h3>
  {% else %}
  <h3>Welcome home</h3>
  {% endif %}

  <div class="temp-nav">
    {% if current_user.is_anonymous %}
    <a href="{{url_for('auth.login')}}" class="btn btn-outline-primary"
      >login</a
    >
    <a href="{{url_for('auth.register')}}" class="btn btn-outline-secondary"
      >Register</a
    >

    {% elif not current_user.is_anonymous %}
    <a href="{{url_for('auth.logout')}}" class="btn btn-outline-primary"
      >logout</a
    >
    {% else %}
    <a href="{{url_for('main.comment')}}" class="btn btn-outline-primary"
      >Add comment</a
    >
    {% endif %}
  </div>
  <!-- new post form -->
  <div class="m-2">
    <form action="" id="form">
      <div class="form-group">
        <textarea
          name="posttext"
          id="postBodyText
          cols="30"
          rows="3"
          placeholder="Type here.."
          class="post-text form-control"
          required
        ></textarea>
        <button type="submit" class="btn btn-outline-success add-post">
          Add
        </button>
      </div>
    </form>
  </div>
  <!-- posts view start -->
  <div class="bg-info ">
    {% for post in posts %}
    <p id="postBodyShow">{{post.body}}</p>
    <em>{{post.author}}</em>
    <p class="text-muted">{{post.timestamp}}</p>
    {% endfor %}
  </div>
  <!-- posts view end -->
  <div id="output"></div>
</div>
<div class="container">
  {%for comment in comments%}
  <p>comment:{{comment.comment}}</p>
  <p>time posted: {{comment.timestamp}}</p>
  {%endfor%}
</div>
{% endblock %}
