<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='photos/logo.png')}}" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto top-nav__middle">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            ><img
              src="{{url_for('static', filename='photos/icons/home.png')}}"
              alt=""
            />
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              src="{{url_for('static', filename='photos/icons/users.png')}}"
              alt=""
          /></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              src="{{url_for('static', filename='photos/icons/alert.png')}}"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              src="{{url_for('static', filename='photos/icons/notifications.png')}}"
              alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.account',uname=current_user.username)}}"
            ><img
              src="{{url_for('static', filename='photos/icons/profile.png')}}"
              alt=""
          /></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group mb-2 mr-sm-2">
          <input
            class="form-control"
            type="search"
            placeholder="Search for anything.."
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text search-bar">
              <a href="/"><i class="fas fa-search"></i></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>
